@model IEnumerable<Team2.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách loại món ăn</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    CATEGORY_CODE
                                </th>
                                <th>
                                    CATEGORY_NAME
                                </th>
                                <th>
                                    IMAGE_URL
                                </th>
                                <th>
                                    STATUS
                                </th>
                                <th>
                                    ACTION
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @item.CATEGORY_CODE
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", new { item.ID })">@item.CATEGORY_NAME</a>
                                    </td>
                                    <td>
                                        <img src="@Url.Action("Image", new { item.ID })" width="50px" height="50px"/>
                                    </td>
                                    <td>
                                        @item.STATUS
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                                }
                            </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
